DEBUG = True
SECRET_KEY = 'RG6CHbt67Csxd'

FLASK_APP_HOST = '0.0.0.0'

# cache
CACHE_TYPE = 'simple'
# CACHE_MEMCACHED_SERVERS = ['localhost', ]
# CACHE_MEMCACHED_USERNAME =
# CACHE_MEMCACHED_PASSWORD =

LOG_ENABLED = True
LOG_FOLDER = 'log'

SQLALCHEMY_DATABASE_URI = 'sqlite:///db.sqlite'
SQLALCHEMY_ECHO = True
SQLALCHEMY_TRACK_MODIFICATIONS = True
